{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />

<title>LoBook</title>
</head>
<body>
    <div class="login">
        <p>ログイン</p>
    </div>
    <div class="pastel">
        <h1><a href="/">L♡Book</a></h1>
        <h2>本を大切に管理するシステム</h2>
        <h2>一覧ページ</h2>
    </div>
    <form action="" method="get" class="query">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button class="button" type="submit">検索する</button>
    </form>
    <table border="1" id="list">
        <tr>
            <th>id</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>購入日</th>
            <th>貸出期限</th>
            <th>貸出可能</th>
            <th>本のレビュー</th>
            <th>操作</th>
        </tr>
        {% for d in data %}
        {% if d.isAvailable is True %}
        <tr>
        {% else %}
        <tr class="nonaval">
        {% endif %}
            <td id="bookid" value="{{ d.bookid }}">{{ d.bookid }}</td>
            <td>{{ d.title }}</td>
            <td>{{ d.author }}</td>
            <td>{{ d.producedby }}</td>
            <td>{{ d.purchaseDate }}</td>
            <td>{{ d.deadline }}</td>
            {% if d.isAvailable is True %}
            <td>可能</td>
            {% else %}
            <td>不可</td>
            {% endif %}
            <td><a class="review" href="/">レビューページ</a></td>            
            <td>
                <form action="/lend" method="POST" class="u">
                    {% csrf_token %}
                    <input type="hidden" name="hidden" value="{{ d.bookid }}">
                    <input type="hidden" name="isAvailable" value="{{ d.isAvailable }}">
                    {% if d.isAvailable is True %}
                    <input class="button" type="submit" value="借りる" name="l">
                    {% else %}
                    <input class="button" type="submit" value="返却する" name="r">
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <footer class="footer">
        <small>© 2020 ishida yutaka.</small>
    </footer>
</body>
</html>
