{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
<title>LoBook</title>
</head>
<body>
    <div class="login">
        <p>ログイン</p>
    </div>
    <div class="pastel">
        <h1><a href="/">L♡Book</a></h1>
        <h2>本を大切に管理するシステム</h2>
        <h2>ログインページ</h2>
    </div>
    <table class="form_table" style="margin: 40px auto; padding: 10px; font-size: 20px;">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_table }}
            {% csrf_token %}
            <tr><td></td><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    <h2 style="margin: 40px;"><a href="/newlogin">新規登録</a></h2>
    <footer class="footer">
        <small>© 2020 ishida yutaka.</small>
    </footer>
</body>
</html>
