{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" />
<title>LoBook</title>
</head>
<body>
    <div class="login">
        <p>ログイン</p>
    </div>
    <div class="pastel">
        <h1><a href="/">L♡Book</a></h1>
        <h2>本を大切に管理するシステム</h2>
        <h2>本の登録ページ</h2>
    </div>
    <div class="form_book">
    <p>入力フォーム</p>
    <table class="form_table" style="margin: 0 auto;">
        <form action="{% url 'register' %}" method="post">
            {{ form.as_table }}
            {% csrf_token %}
            <tr><td></td><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    </div>
    <footer class="footer">
        <small>© 2020 ishida yutaka.</small>
    </footer>
</body>
</html>
